.contenedor-principal {             /* ABARCA TODAS LAS TARJETAS DE PRODUCTOS DE FORMA GENERAL*/
    display: flex;
    width: 90%;  
    margin: auto;
}

.card {                             /* DA ESTILO A LAS TARJETAS INDIVIVUAL A TODA LA TARJETA*/
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin: 8px 16px;
    border: 1px solid #fad7b7;
    border-radius: 8px;
    overflow: hidden;
}

.card img {     
    display: flex;                   /* DA ESTILO A LAS IMAGENES DE LOS PRODUCTOS DENTRO DE LA TARJETA*/
    width: 100%;
    vertical-align: middle;
}
  
.contenedor-interno-card {          /* DA ESTILO A LAS TARJETAS INDIVIVUALMENTE*/
    display: flex;
    width: 100%;
    padding: none;
    
}

.valoracion {
    color:#fad7b7; /* Para indicar las valoraciones negativas */
}

.bi.valoracion {
    margin: 4px;
}

.menu-card {
    display: flex;
    padding-right: 8px;
 
}



    